form
{
	 text-align: center;
    padding: 3px;
    background-color:orange;
    border-style: solid;
    border-color: darkblue;
    border-block-color: initial;
    margin-left: 230px;
    margin-right: 230px;}

}