{% extends 'html/header.html' %}
{% block title %}home{% endblock %}
{% block content %}
  <div class="container">
  <div class="row mt-5">
  <div class="card col-md-8 mx-2">
	<h3>sample1</h3>
  <div class='row'>
	<div class="col-md-4 mx-1 jumbotron">
	<h4>j1</h4>
		</div>
	<div class="col-md-4 mx-1 jumbotron">
	<h4>j2</h4>
		</div>
	<div class="col-md-4 mx-1 jumbotron">
	<h4>j3</h4>
		</div>
	    </div>
        </div>


		<div class="card col mx-2">
			<h3>sample2</h3>
		</div>

</div>
{% endblock %}
			
